# Activate production profile
SPRING_PROFILES_ACTIVE=prod

# API Gateway
AUTH_SERVICE_URL=http://auth-service:8081
CALENDAR_SERVICE_URL=http://calendar-service:8082
JWT_SECRET=replace-with-strong-secret
JWT_ACCESS_TOKEN_SECONDS=900

# Auth Service
AUTH_DB_URL=jdbc:postgresql://postgres:5432/auth_db
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=postgres

# Calendar Service
CALENDAR_DB_URL=jdbc:postgresql://postgres:5432/calendar_db
CALENDAR_DB_USERNAME=postgres
CALENDAR_DB_PASSWORD=postgres
